*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* SHORT CODE  */

    /* for main color  */

:root{
    --main-color:#e5761c;
}

 /* FOR LEFT VIRTICAL TEXT  */
.left{
    position: relative;
}
.left-content{
    font-size: 15px;
    text-transform: uppercase;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 18%;
    transform: rotate(90deg);
    top: 45%;
    font-weight: bold;
    color: #656565;
    line-height: 18px;
}
span.span__bold{
    font-size:70px ;
    line-height: 50px;
    color: #323232;
}

    /* FOR RIGHT VERTICAL FEXT  */

    .constructor_area .left{
        position: relative;
    }
    .constructor_area .left-content{
        font-size: 15px;
        text-transform: uppercase;
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        transform: rotate(90deg);
        top: -308px;
        left: 811px;
        font-weight: bold;
        color: #656565;
        line-height: 18px;
    }
    .constructor_area span.span__bold{
        font-size:70px ;
        line-height: 50px;
        color: #323232;
    }

/* vertical text two  */
.all_about .left-content{
    right: 18%;
    top: 8%;
    color: #EDEDED;
}
.all_about span.span__bold{
    font-size:70px ;
    line-height: 50px;
    color: #EDEDED;
}


/* HEADER SECTION START HERE  */

header{
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


/* navbar section  */

    .dropdown:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        border:none;
    }
    .dropdown-item{
        padding: 12px 60px 12px 20px;
        font-size: 15px;
        font-family:arial;
        color:black;
        font-weight: lighter;
        background-color: #2E2E2E;
        transform-origin: center;
        animation :rotate 1.5s ease 1;
    }
    .d_down{
        padding-right: 12px;
    }
    .dropdown-item{
        position: relative;
    }

    .extra-cls{
        position: absolute;
        padding: 10px 12px;
        border: .5px solid var(--main-color);
        right: 5%;
    }
    @keyframes rotate{
        0%{transform: perspective(600px) rotatey(90deg); transform-origin:center;}
        100%{transform: perspective(600px) rotatey(0deg); transform-origin:center;}
    }
    
    .dropdown-item:nth-of-type(1){
        animation-delay: 0s;
    }
    .dropdown-item:nth-of-type(2){
        animation-delay: 0.1s;
    }
    .dropdown-item:nth-of-type(3){
        animation-delay: 0.2s;
    }
    .dropdown-item:nth-of-type(4){
        animation-delay: 0.3s;
    }
    .dropdown-item:nth-of-type(5){
        animation-delay: 0.4s;
    }
    .dropdown-item:nth-of-type(6){
        animation-delay: 0.5s;
    }
    .dropdown-item{
        color: #fff;
    }
    .dropdown-item:hover{
        background-color: #343434;
        color:white;
    }
    
 /* contact button  */

.contact-btn{
    color: white;
    border: 1px solid var(--main-color);
}
.contact-btn:hover{
    background-color: var(--main-color);
}


            /* hero section  */

.hero-container::before{
    content: '';
    position: absolute;
    width: 39%;
    height: 50%;
    background: var(--main-color);
    right: 26.5%;
    z-index: 1;
    top: 49%;
    transform: translateY(-50%);
}
.team-advice{
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

h1.title{
    color: #f5f5f4;
    max-width: 400px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 5px;
}

p.description{
    color:#d8d8d8;
    width: 270px;
    margin-bottom: 15px;
}
.custom__btn{
    background-color: #B65914;
}
.content-info,.img-content{
    z-index: 10;
    position:relative;
}
.img_1,.img_3{
    position:absolute;
    width: 125px;
    height: 125px;
}

.img_1{
    top: 6%;
    right: 38%;
    z-index: 20;
}
.img_3{
    bottom:10%;
    left:-20%;
}
img.main_img {
    width: 235px;
    height: 420px;
}
.main-img-content{
    position: relative;
    width:fit-content;
}
.main-img-content::after{
    content: '';
    top: 0;
    right:0;
    position: absolute;
    background:  #ba2b0f ;
    width: 30%;
    height:100%;
    opacity: 0.6;
}

.img_1,.img_3,.dot,.dot_2{
    position:absolute;
}
.img_3,.dot{
    bottom: 7%;
    left: -14%;
}
.dot{
    /* top:0; */
    z-index: -1;
    width: 70%;
    bottom: -13%;
    height: 65%;
    right: 50%;
    left: auto;
}
.dot_2{
    top: 2%;
    right: 41%;
    width: 20%;
    z-index: -1;
}
.career_title{
    font-size: 120px;
    text-transform: uppercase;
    position: absolute;
    right: -23%;
    transform: rotate(90deg);
    top: 46%;
    font-weight: bold;
    color: #323232;
}


/* Open roles section  */
.open__roles{
    width: 100%;
    background-color: #252525;
}
.content-bg{
    background-color: #fff;
    padding: 100px;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
  }
 
  tr{
      border: none;
  }
  
  td, th {
    border:none;
    text-align: left;
    padding: 20px;
  }
  
  tr:nth-child(even) {
    background-color: rgba(221, 221, 221, 0.7);
  }
  i.fas.fa-angle-right {
    color: var(--main-color);
    padding: 10px 12px;
    border: .5px solid var(--main-color);
    font-weight: 300;
}
i.fas.fa-angle-right:hover{
    background-color: var(--main-color);
    color: #fff;
}
table th{
    color: var(--main-color);
    font-size: 12px;
    font-weight: 600;
}
table td{
    font-weight: 700;
    font-size: 12px;
}
td.post{
    font-size: 16px;
    font-weight: 700;
}
p.p__1{
    font-weight: 700;
    letter-spacing: -1px;
}
p.p__2{
    font-size: 16px;
    letter-spacing: .1px;
}
span.roles{
    color: var(--main-color);
    font-weight: 700;
    letter-spacing: -1px;
}
h2.t__bold{
    font-weight: 700;
    letter-spacing: .1px;
    font-size: 30px;
    text-transform: uppercase;
}


/* company section  */
.hero {
    width: 100%;
    padding: 200px 0px;
    background: #242424;
    background-repeat: no-repeat;
    background-position: top center;
}

.hero .hero-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-container .hero-right {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.hero .hero-container .hero-right .img-1 {
    width: 400px;
    position: absolute;
    top: 40%;
    right: 60%;
    z-index: 3;
}

.hero .hero-container .hero-right .img-2 {
    position: absolute;
    top: -23%;
    left: -40%;
    width: 200px;
    z-index: 3;
}

.hero .hero-container .hero-right .img-3 {
    position: absolute;
    top: -30%;
    right: -120%;
    z-index: 3;
    width: 150px;
}

.hero .hero-container .hero-right .texts {
    position: absolute;
    top: -20%;
    left: 40%;
    background: #333333;
    width: 500px;
    padding: 80px;
    z-index: 2;
}
.hero .hero-container .hero-right .texts h4 {
    font-size: 16px;
    color: var(--main-color);
    font-weight: 600;
}
.hero .hero-container .hero-right .square {
    width: 350px;
    height: 370px;
    background: var(--main-color);
}

.center_img::after{
    content: '';
    position: absolute;
    width: 49%;
    height: 34%;
    background: url(../img/general/dots.svg);
    top: -28%;
    left: -25%;
    z-index: 1;
}
.img_strike::after{
    content: '';
    position: absolute;
    width: 102%;
    height: 34%;
    background: url(../img/general/dots.svg);
    top: 85%;
    left: -54%;
    z-index: 1;
}
.img_strike-2::after{
    content: '';
    position: absolute;
    width: 37%;
    height: 57%;
    background: url(../img/general/dots.svg);
    top: -27%;
    left: 172%;
    z-index: 1;
}

/* All about section  */

.about-container{
    display: flex;
  }

  .middle {
    flex: 1 1 20%;
  }
  .right {
    flex: 1 1 65%;
  }
  .left__content {
    display: flex;
    flex-direction: column;
    transform: rotate(90deg);
    margin-top: 100px;
  }
  
  .middle__content {
    margin-top: 50px;
    padding: 0 50px;
  }
  
  .right__content {
    margin-top: 50px;
    display: flex;
    gap: 20px;
  }
  .para{
    font-size: 12px;

  }
  .right__content-left {
    flex: 1 1 50%;
  }
  .right__content-right {
    flex: 1 1 50%;
  }
  .content__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .card {
    padding: 18px;
    margin-bottom: 10px;
    position: relative;
    border: none;
  }
  
  .number_container {
    position: absolute;
    top: 20px;
    line-height: 78px;
  }
  
  .number {
    font-size: 60px;
    font-weight: 700;
    opacity: 0.3;
  }
  .number:nth-child(1) {
    margin-top: 7px;
  }
  .number:nth-child(2) {
    margin-top: -20px;
    margin-bottom: -30px;
  }
  .number:nth-child(3) {
    margin-left: 5px;
    transform: rotate(90deg);
  }
  .title {
    margin: 20px 0;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 700;
  }
  span.roles {
    display: block;
    padding: 30px 0;
}



/* footer section  */
footer .footer_bg{
    background: url(../img/footer/bg.jpg);
    display: flex;
}
footer .logo img{
    width: 170px;
    height: 50px;
}
footer span{
    font-weight: 700;
    letter-spacing: -1px;
}
footer p{
    font-size: 12px;
    font-weight: 300;
}
footer a{
    text-decoration: none;
    color: #fff;
}
i.fal.fa-angle-right {
    padding-left: 31px;
    color: #E6771E;
}
.icon {
    line-height: 104px;
    letter-spacing: 12px;
}
.cmn-icon {
    padding: 7px 0PX 7PX 10PX;
    border: .5px solid #E6771E;
    border-radius: 50%;
}
footer hr{
    color: #E6771E;
    border-bottom: 2px solid #E6771E;
}
.bg-footer{
    background-color: #252525;
}
